.hidden {
  display: none;
}

.old-view,
.new-view {
  padding: 20px 35px;
  background: green;
  color: #fff;
  font-size: 30px;
  width: fit-content;
  
  view-transition-name: view;  
  contain: layout;
}

.new-view {
  padding: 20px 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #38e8da;
  color: #000;
}