.dialog-demo-button {
  display: block;
  margin-bottom: 8px;
}

.drag-drop-demo {
  display: inline-block;
  background-color: lightskyblue;
  border: 1px solid black;
  padding: 8px;
  user-select: none;
}

.drag-drop-label {
  display: inline-block;
  padding: 8px;
}
