/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1.page-title {
  text-align: center;
  margin: 1em 0;
}

.page-content {
  width: fit-content;
  margin: 0 auto;
}
