:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
  position: absolute;
  max-width: 400px;
  padding: 16px;
  border-radius: 8px;
  background-color: lightgrey;
  text-align: center;
}
