.code {
  width: 256px;
  margin: 32px auto;
}

.code-text {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 32px auto;
}

.generate-code-btn {
  display: block;
  margin: 32px auto;
  width: 256px;
  height: 42px;
}
